@import '../utils/variables';
@import '../utils/mixins';

.container {
  width: $container-width; // 1170px
  margin: 0 auto;
  padding: 0 $spacing-md; // 15px
}

.centered-heading {
  justify-content: center;
}
.centered-subtitle {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}