@import '../utils/variables';
@import '../utils/mixins';

.filter-button {
  @include button-base($primary-color);
  padding: 10px 15px;
  font-size: 12px;
}

.contact-button {
  @include button-base($primary-color);
  padding: 12px 25px;
}