@import '../utils/variables';
@import '../utils/mixins';

.main-footer {
  background-color: $bg-dark;
  color: $text-lighter;
  padding: $spacing-xl 0;

  .footer-content {
    @include flex-between;
    flex-direction: column;
    gap: $spacing-md;

    @include respond-to(tablet) {
      flex-direction: column;
      text-align: center;
    }
  }

  .copyright {
    font-size: 13px;
    margin: 0;
  }

  .social-links {
    display: flex;
    gap: $spacing-xs;
  }

  .social-icon {
    @include flex-center;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: $bg-white;
    font-size: 16px;

    &:hover,
    &:focus {
      background-color: $primary-color;
      color: $bg-white;
    }

    &:active {
      background-color: $primary-active;
    }
  }

  .custom-icon-facebook,
  .custom-icon-telegram,
  .custom-icon-google {
    display: block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;   }

  $social-icons: (
          'facebook': (#3b5998, 'facebook.png'),
          'telegram': (#00aced, 'telegram.png'),
          'google': (#dd4b39, 'google.png')
  );

  @each $name, $data in $social-icons {
    .custom-icon-#{$name} {
      background-color: nth($data, 1);
      background-image: url('../assets/img/' + nth($data, 2));
    }
  }
}