.intro-section {
  background-color: $bg-highlight;
  @include flex-center;
  height: 150px;

  .subtitle {
    font-size: 24px;
    color: #555454;
    letter-spacing: 2px;
    margin-bottom: $spacing-xs;
  }

  .description {
    font-size: 12px;
    color: $text-color;
    line-height: 1.2;
    margin: 0;
  }
}
