.section-heading {
  @include flex-between;
  padding: $spacing-xxl 0 $spacing-md;

  &.centered-heading {
    justify-content: center;
  }
}

.section-title {
  font-size: 16px;
  color: $text-dark;
  letter-spacing: 2px;
  margin: 0;
  font-weight: $font-weight-bold;
  margin-right: $spacing-xs;

  .red-line {
    color: $primary-color;
  }
}

.section-subtitle {
  font-size: 16px;
  color: $text-light;
  margin-bottom: $spacing-xxl;
  line-height: 1.6;

  &.centered-subtitle {
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
