extends ../layouts/layout.pug

block variables
    - var pageTitle = 'Keepsake - Digital & Branding Agency'

block content
    include ../components/intro-section.pug
    +introSection("WE'RE KEEPSAKE, A DIGITAL & BRANDING AGENCY", "Specializing in web design, poster, motion video, based in London. We love to turn ideas into beautiful things.")

    include ../components/portfolio-section.pug
    include ../components/services-section.pug
    include ../components/journal-section.pug