@function rem($pixels, $context: 16) {
  @return #{$pixels / $context}rem;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin box-shadow($x: 0, $y: 5px, $blur: 15px, $alpha: 0.08) {
  box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
}

@mixin transition($properties...) {
  transition: $properties;
}

@mixin button-base {
  background-color: $primary-color;
  color: white;
  padding: 12px 25px;
  font-size: 14px;
  font-weight: $font-weight-bold;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-hover;
    color: white;
  }

  &:active {
    background-color: $primary-active;
    color: white;
  }
}

@mixin icon-circle($size: 60px) {
  width: $size;
  height: $size;
  background-color: $bg-grey;
  border-radius: 50%;
  margin: 0 auto $spacing-lg;
  @include flex-center;
  font-size: 24px;
  color: $text-lighter;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (min-width: $breakpoint-desktop) {
      @content;
    }
  }
}

@mixin overlay($opacity: 0) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: $opacity;
  @include transition(opacity $transition-medium);
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

@function calculate-grid-width($columns, $gap) {
  @return calc((100% / #{$columns}) - #{$gap});
}