@import '../utils/variables';
@import '../utils/mixins';

body {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  color: $text-color;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
  color: $text-color;
}

a {
  text-decoration: none;
  color: $text-light;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.bold-text {
  font-weight: $font-weight-bold; // 700
}

.light-text {
  font-weight: $font-weight-light; // 300
}

.section-title, .post-meta {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.red-line {
  color: $primary-color;
}

.post-meta {
  font-size: 11px;
  color: $text-lighter; // #888
  font-weight: $font-weight-bold; // 700
}